<div>
  <span>
  <a class="waves-effect waves-light btn" (click)="previous()">Previous </a>
  <a class="waves-effect waves-light btn" (click)="generatePdf()"> Export </a>
  <a class="waves-effect waves-light btn" (click)="next()"> Next </a>
  </span>

  <table id="calendar">
    <caption>
      <span [ngSwitch]="this.currentMonth">
        <span *ngSwitchCase="'0'">Jan</span>
        <span *ngSwitchCase="'1'">Feb</span>
        <span *ngSwitchCase="'2'">Mar</span>
        <span *ngSwitchCase="'3'">Apr</span>
        <span *ngSwitchCase="'4'">May</span>
        <span *ngSwitchCase="'5'">Jun</span>
        <span *ngSwitchCase="'6'">Jul</span>
        <span *ngSwitchCase="'7'">Aug</span>
        <span *ngSwitchCase="'8'">Sep</span>
        <span *ngSwitchCase="'9'">Oct</span>
        <span *ngSwitchCase="'10'">Nov</span>
        <span *ngSwitchCase="'11'">Dec</span>
      </span>
      {{ this.currentYear }}
    </caption>

    <tr class="weekdays">
      <th *ngFor="let dt of daystext" scope="col">
        {{dt}}
      </th>
    </tr>
    <tr *ngFor="let dayObj of daysNum;" class="days">
      <td *ngFor="let num of dayObj;" class="day" [class.selected]="num === currentNum" (click)="onSelect(num)">
        <div class="date" (click)="setCurrentNum(num)">{{num | maxNumber}}
        </div>
      </td>
    </tr>
  </table>

  <ng-container *ngIf="show">
    <div class="popup" (click)="closePopup()">
      <h5>Current date: {{this.currentNum}} {{this.currentMonth | date: 'MMMM'}} {{ this.currentYear }}</h5>
      <label>
        <input [ngModel]="content">
      </label>
      <button (click)="saveNote()">Save</button>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="show">
  <div class="popup-background"></div>
</ng-container>

