<div class="month">
  <b>
    <div>
      {{displayMonth}}
    </div>
  </b>
  <div #addButton>
  </div>
  <div>
    <input type="button" (click)="decreaseMonth()" value="<"/>
    <input type="button" (click)="increaseMonth()" value=">"/>
  </div>
</div>

<table *ngIf="calendar">
  <thead>
  <tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let row of calendar | calendpipe: 7;
    let i = index"
  >
    <td
      class="calendar-day"
      [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday}"
      *ngFor="let c of row; let j = index"
      (click)='choseDay=c'
    >
      <div
        class="calendar-day-header"
        [ngClass]="{'blue-date': c.isToday}"
      ><strong>{{c.date.getDate()}}</strong>
        <strong
          *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> {{monthNames[c.date.getMonth()]}}</strong>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<app-tasks [dayChose]="choseDay"></app-tasks>
